---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import TiendaGeneral from '../components/tienda/TiendaGeneral.jsx';
import { getCollection } from 'astro:content';

const productsCollection = await getCollection('products');

const products = productsCollection.map((product) => ({
    id: product.slug,
    name: `${product.data.estuche} ${product.data.marca} ${product.data.variante} de ${product.data.tamano}Ml`,
    price: product.data.precioMinorista,
    description: `${product.data.estuche} ${product.data.marca} ${product.data.variante} de ${product.data.tamano}Ml`,
    category: product.data.categoria,
    marca: product.data.marca,
    estuche: product.data.estuche,
    variante: product.data.variante,
    tamano: product.data.tamano,
    proveedor: product.data.proveedor,
    precioCosto: product.data.precioCosto,
    precioMayorista: product.data.precioMayorista,
    precioMinorista: product.data.precioMinorista,
    fechaPrecio: product.data.fechaPrecio,
    descuento: product.data.descuento,
    stock: product.data.stock,
    images: product.data.images
}));

const categories = [...new Set(products.map(p => p.category))];
---

<Layout title="Tienda">
  <Header />
  <Navbar />
  
  <main>
    <TiendaGeneral 
        client:load 
        categories={categories} 
        products={products} 
    />
  </main>

  <Footer />
</Layout>

<style>
  main {
    min-height: calc(100vh - 200px);
    background: #fafafa;
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>